#LTSpice Files
*.raw
*.net
*.log

#Altium Files
#Previews
**/__Previews/*

# History Folders
**/History/*

# Project Logs
**/Project\ Logs*/

# Project Outputs
**/Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


#Atmel Studio Files
#Build Directories
**/[Dd]ebug/
**/[Rr]elease/
**/Preprocess/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo
*.orig

#VsCode Arduino Outputs
**/Output/